<div class="color-box">
  <div class="color-box">
    <h2 class="carga-productos">Registro de Fabricantes</h2>
  </div>
    <div > <div >

  <label for="basic-url" class="font">Nombre o Razón Social</label>
  <input type="text" class="form-control input-design" placeholder="Descripción" aria-label="Username" >
</div>
<div >
  <label for="basic-url" class="font">Tipo Documento</label>
  <input type="text" class="form-control input-design" placeholder="Precio Unitario" aria-label="Username" >
</div>
<div >
  <label for="basic-url" class="font">Número de Documento</label>
  <input type="text" class="form-control input-design" placeholder="Precio Unitario" aria-label="Username" >
</div>
<div >
  <label for="basic-url" class="font">Telefono</label>
  <input type="text" class="form-control input-design" placeholder="Precio Unitario" aria-label="Username">
</div>
<div >
  <label for="basic-url" class="font">mail</label>
  <input type="text" class="form-control input-design" placeholder="telefono" aria-label="Username" >
</div>
<div >
  <label for="basic-url" class="font">Dirección</label>
  <input type="text" class="form-control input-design" placeholder="Precio Unitario" aria-label="Username" >
</div>
<div >
  <label for="basic-url" class="font">Producto</label>
  <input type="text" class="form-control input-design" placeholder="Precio Unitario" aria-label="Username" >
</div>

<button type="submit" class="btn btn-primary button" (click)="Guardar()">Registrar</button>
</div>
</div>