<div class="color-box">
  <div class="color-box">
    <h2 class="carga-productos">Rutas de Entrega</h2>
  </div>
    <div > 
      <div class="card">

        <label for="basic-url" class="font">Dirección Origen </label>
        <input type="text" class="form-control input-redondo" placeholder="Dirección Origen" aria-label="Dirección Origen ">
      </div>
      <div class="card">

        <label for="basic-url" class="font">Dirección Destino</label>
        <input type="text" class="form-control" placeholder="Dirección Destino" aria-label="Dirección Destino">
      </div>

      <div class="card">

        <label for="basic-url" class="font">Tipo de entrega </label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        
      </div>
      <div class="card">

        <label for="basic-url" class="font">Tiempo de Entrega </label>
        <input type="text" class="form-control" placeholder="Tiempo de Entrega" aria-label="Tiempo de Entrega">
      </div>
      <div class="card">

        <label for="basic-url" class="font">Método de Transporte</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="card">

        <label for="basic-url" class="font">Fecha de Entrega</label>
        <input type="text" class="form-control" placeholder="Fecha de Entrega" aria-label="Fecha de Entrega">
      </div>
      
      <button type="submit" class="btn btn-primary button">Guardar</button>
    </div>
  </div>




