.card-img-top {
    height: 200px;
    object-fit: cover;
  }

  :host ::ng-deep {
    &.text-red {
        color: #CF735B;
    }

    &.text-blue {
        color: #B0C5D6;
    }
    &.text-black {
        color: #000000;
    }
    &.size-ul {
        width: max-content;
    }
    &.size-subtitles {
        font-weight: 800;
        font-size: 25px;
    }
    &.type-text {
        font-family: 'Nunito Sans', sans-serif;
    }

    &.color-box{
        background-color: #F3F2F5;
    }

}


:host ::ng-deep {
    &.logo {
        width: 300px;
        height: 240px;
    }
    &.logo-height {
        height: 183px;
    }
}

.h3,
h3 {
    font-size: 4.75rem;
}
.h2{
    color: #B0C5D6;
}

#type-text {
    font-family: 'Nunito Sans', sans-serif;
    
}

.carga-productos {
    color: #B0C5D6;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
  }
.radioButton{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
}

.input-redondo {
    border-radius: 20px;
    padding: 10px; /* Ajusta el padding si es necesario */

  }
.font{
    color: #B0C5D6;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}
.button{
    background-color: #B0C5D6;
    border-radius: 20px;
    padding: 10px; /* Ajusta el padding si es necesario */
    width: 267.91px;
    height: 36.01px;
    align-items: center;
}
.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  %space-input {
    padding-left: 85px;
}

.input-design {
    @extend %size-input;
}

.space-left-input {
    @extend %space-input;
}
%size-input {
    width: 416.52px;
    height: 46.45px;
    border-radius: 20px;
    padding: 10px; /* Ajusta el padding si es necesario */
}

.bodega-card {
    background-color: #F3F2F5;  /* Color de fondo personalizado */
    border: 1px solid #a3bffa; /* Borde de color */
    width: 640px;
    height: 243px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bodega-wrapper {
    display: flex;
    justify-content: center;   /* Centrado horizontal */
    align-items: center;       /* Centrado vertical (opcional, si quieres centrarlo también en altura) */
    margin-bottom: 2rem;       /* Espacio entre tarjetas */
  }