<div class="color-box">
  <h3 class="text-center mb-4">Informe de Ventas por Vendedor</h3>
  
  <div class="informe-container">
    <form (ngSubmit)="consultarInforme()" #form="ngForm" class="mb-4">
      <div class="form-row d-flex gap-3">
        <div class="form-group flex-fill me-2">
          <label for="codigoVendedor">Código del Vendedor</label>
          <input
            type="text"
            id="codigoVendedor"
            [(ngModel)]="codigoVendedor"
            name="codigoVendedor"
            required
            class="form-control"
          />
        </div>

        <div class="form-group mb-3">
          <label for="fecha">Fecha Inicio</label>
          <input
            type="date"
            id="fechaInicio"
            [(ngModel)]="fechaInicio"
            name="fecha"
            required
            class="form-control"
          />
        </div>
      

      <div class="form-group mb-3">
        <label for="fecha">Fecha Final</label>
        <input
          type="date"
          id="fechaFin"
          [(ngModel)]="fechaFin"
          name="fechaFin"
          required
          class="form-control"
        />
      </div>
    </div>
      
      <div class="boton_centro">
        <button type="submit" class="btn btn-primary button w-50" [disabled]="form.invalid">
          Consultar Informe
        </button>
      </div>
    </form>

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Información del Vendedor -->
    <div *ngIf="informe" class="vendedor-info mb-4 p-3 border rounded bg-light card-body card_1">
      <h5>Datos del Vendedor</h5>

      <div class="d-flex justify-content-between mb-2">
        <p class="mb-0"><strong>ID:</strong> {{ codigoVendedor }}</p>
        <p class="mb-0"><strong>Nombre:</strong> {{ informe.nombre }}</p>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="mb-0"><strong>Zona / Área:</strong> {{ informe.zona }}</p>
        <p class="mb-0"><strong>País:</strong> {{ informe.nombrepais }}</p>
      </div>

      <div class="d-flex justify-content-between">
        <p class="mb-0"><strong>Fecha del Informe:</strong> {{ informe.fecha }}</p>
        <p class="mb-0"><strong>Moneda:</strong> {{informe.acronimomoneda}}</p>
      </div>
    </div>

    <!-- Información de Ventas -->
    <div *ngIf="informe" class="card shadow-sm card_2">
      <div class="card-body">
        <p><strong>Ventas Totales:</strong> {{ informe.valortotal | currency: informe.moneda }}</p>
       
      </div>
      
      <!-- Botón -->
     <!-- Botón -->
<button type="button" class="btn btn-primary w-50 button" (click)="verDetalle()" [disabled]="!detalleProductos.length">
  {{ mostrarDetalle ? 'Ocultar' : 'Ver detalle por producto' }}
</button>


    </div>
    <!-- Tabla -->
<div *ngIf="mostrarDetalle" class="mt-4">
  <h5>Detalle por Producto</h5>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Producto -->
    <ng-container matColumnDef="nombreProducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
      <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
    </ng-container>

    <!-- Cantidad -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

     <!-- Cantidad -->
     <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría</th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>

    <!-- Precio Unitario -->
    <ng-container matColumnDef="precioUnitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let element"> {{element.preciounitario | currency:'COP' }} </td>
    </ng-container>

    <!-- Total -->
    <ng-container matColumnDef="valorTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let element"> {{element.totalproducto | currency:'COP' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
  #paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons>
</mat-paginator>
</div>
  </div>
</div>