<div class="color-box">
  <div class="color-box">
    <h2 class="carga-productos">Crear Plan de Venta</h2>
  </div>
  <div>
    <div>

      <label for="basic-url" class="font">Nombre</label>
      <input type="text" class="form-control input-design" placeholder="Nombre" aria-label="Username"
        [(ngModel)]="planVenta.nombre">
    </div>
    <div>
      <div>
        <label for="basic-url" class="font">fecha Inicio</label>
        <p-calendar [(ngModel)]="planVenta.fechaInicio" [showIcon]="true" inputId="buttondisplay"></p-calendar>
      </div>
    </div>
    <div>
      <div>
        <label for="basic-url" class="font">Fecha Fin</label>
        <p-calendar [(ngModel)]="planVenta.fechaFin" [showIcon]="true" inputId="buttondisplay"></p-calendar>
      </div>
    </div>



    <!-- Botón centrado debajo -->
    <button type="submit" class="btn btn-primary button" (click)="guardarPlanVenta()">
      Registrar
    </button>
  </div>
</div>