// Subtitulos
:host ::ng-deep {
    &.text-red {
        color: #CF735B;
    }

    &.text-blue {
        color: #79BBDA;
    }
    &.text-black {
        color: #000000;
    }
    &.size-ul {
        width: max-content;
    }
    &.size-subtitles {
        font-weight: 800;
        font-size: 25px;
    }
    &.type-text {
        font-family: 'Nunito Sans', sans-serif;
    }

    &.color-box{
        background-color: #F3F2F5;
    }

}

// Logo
:host ::ng-deep {
    &.logo {
        width: 300px;
        height: 240px;
    }
    &.logo-height {
        height: 183px;
    }
}

.h3,
h3 {
    font-size: 4.75rem;
}
.h2{
    color: #C92243;
}

#type-text {
    font-family: 'Nunito Sans', sans-serif;
    
}

.carga-productos {
    color: #C92243;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
  }
.radioButton{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
}

.input-redondo {
    border-radius: 20px;
    padding: 10px; /* Ajusta el padding si es necesario */

  }
.font{
    color: #C92243;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}
.button{
    background-color: #C92243;
    border-radius: 20px;
    padding: 10px; /* Ajusta el padding si es necesario */
    width: 267.91px;
    height: 36.01px;
    align-items: center;
}
.footer {
   
    bottom: 0;
    width: 95%;
    padding: 10px 20px;
    background-color: #f8f9fa;
    text-align: right;
    font-size: 14px;
    border-top: 1px solid #ccc;
  }
  
  .version {
    color: #555;
  }

  .bienvenido-texto {
    font-size: 96px;
    font-weight: bold;
    color: #0b0b0b;
    padding: 1rem 2rem;
    border-radius: 10px;
    align-items:center;
    width: 912px;
    height: 175px;
  }
  .cerrar-sesion {
    color: #dc3545 !important; /* Rojo fuerte */
    font-weight: bold;
    border: 1px solid #dc3545;
    border-radius: 6px;
    padding: 8px 12px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    margin-top: 10px;
  }
  
  .cerrar-sesion:hover {
    background-color: #dc3545;
    color: white !important;
    text-decoration: none;
  }