<div class="container">
  <!--Logo-->
  <div class="col-12 row">
    <div class="col-12 logo-height">
      <img src="../../assets/ccp1.png" class="logo" alt="Logo CCP">
    </div>
  </div>

  <div class="col-12">
    <div class="row col-12"> <!--d-flex justify-content-between-->

      <div class="col-4 color-box">
        <div class="col-12 col-md-4"> <!--d-flex justify-content-center align-items-center-->
          <ul class="navbar-nav size-ul">
            <li class="nav-item">
              <a class="nav-link text-red type-text size-subtitles" routerLink="Fabricantes">Registrar Fabricantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-red type-text size-subtitles" routerLink="/cargar-productos">Cargar Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-blue type-text size-subtitles" routerLink="vendedores">Registrar vendedores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-blue type-text size-subtitles" routerLink="/PlanesVenta"  >Crear Planes Venta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-blue type-text size-subtitles" href="#">Consultar Reportes</a>
            </li>
            <li class="nav-item">
  
              <a class="nav-link text-blue type-text size-subtitles" routerLink="productos/consultarProductos">Consultar Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-blue type-text size-subtitles" routerLink="rutasEntrega/rutas">Generar Rutas de Entrega</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black type-text size-subtitles" href="#">Gestionar Roles y Permisos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black type-text size-subtitles" routerLink="/Auditar">Auditar Sistema</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-8 align-items-center">
        <router-outlet></router-outlet>
      </div>
      
  </div>
  <footer class="footer">
    <span class="version">Versión: {{ version }}</span>
  </footer>