<div class="container">
  <div class="color-box">
    <h2 class="carga-productos">Auditar Sistema</h2>

    <!-- Filtro de Fechas -->
    <div class="row mb-3">
      <div class="col">
        <label>Desde</label>
        <mat-form-field appearance="fill" class="w-100">
          <input matInput [matDatepicker]="pickerInicio" placeholder="dd/mm/yyyy"
                 [(ngModel)]="fechaInicio" name="fechaInicio">
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col">
        <label>Hasta</label>
        <mat-form-field appearance="fill" class="w-100">
          <input matInput [matDatepicker]="pickerFin" placeholder="dd/mm/yyyy"
                 [(ngModel)]="fechaFin" name="fechaFin">
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-auto d-flex align-items-end">
        <button mat-icon-button color="primary" (click)="consultarAuditorifecha()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>

    <!-- Filtro de Usuario -->
    <div class="mb-3">
      <label for="usuarioSelect">Usuario</label>
      <select class="form-select input-design" id="usuarioSelect" [(ngModel)]="idSeleccionado" >
        <option selected disabled>Seleccione un usuario</option>
        <option value="4cd124ef-6394-4562-a80f-952973684f82">One</option>
        <option value="4cd124ef-6394-4562-a80f-952973684f82">Two</option>
        <option value="4cd124ef-6394-4562-a80f-952973684f82">Three</option>
      </select>
      <div class="col-auto d-flex align-items-end">
        <button mat-icon-button color="primary" (click)="  consultarPorUsuario()">
          <mat-icon>search</mat-icon>
        </button>
    </div>

    <!-- Tabla de Auditoría -->
    <div class="container mt-4">
      <h2>Auditorías por Fecha</h2>

      <table class="table table-striped table-bordered mt-3" *ngIf="auditorias.length > 0; else sinDatos">
        <thead class="table-dark">
          <tr>
            <th>Usuario</th>
            <th>Acción</th>
            <th>Entidad</th>
            <th>Fecha</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auditoria of auditorias">
            <td>{{ auditoria.idusuario }}</td>
            <td>{{ auditoria.accion }}</td>
            <td>{{ auditoria.tablaAfectada }}</td>
            <td>{{ auditoria.fechaCreacion  }}</td>
            <td>{{ auditoria.registro }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #sinDatos>
        <div class="alert alert-info mt-3">
          No se encontraron auditorías en el rango seleccionado.
        </div>
      </ng-template>
    </div>
  </div>
</div>