<div class="container">
  <div class="color-box">
    <div class="color-box">
      <h2 class="carga-productos">Auditar Sistema</h2>




      <div>
        <div >
          <div >
            <label>Desde</label>
            
            <mat-form-field  >
              <input  matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" >
              <mat-datepicker-toggle   matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker  #picker></mat-datepicker>
            </mat-form-field>
            <label>Hasta</label>
            <mat-form-field>
              <input  matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-icon>search</mat-icon>
            <select class="form-select input-design" aria-label="Default select example"
                >
                <option selected>Usuario</option>
                <option value="550e8400-e29b-41d4-a716-446655440000">One</option>
                <option value="550e8400-e29b-41d4-a716-446655440000">Two</option>
                <option value="550e8400-e29b-41d4-a716-446655440000">Three</option>
              </select>
            


         


           
            <!-- Botón con ícono de calendario -->

        
         
           
          </div>
        </div>

      </div>
      <!--Caja Nombre Producto-->











    </div>
  </div>
</div>

