<div class="color-box">
  <div class="color-box">
    <h2 class="carga-productos">Consulta de Productos</h2>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="basic-url">Digite Id Producto</label>
        <input type="text" class="form-control" placeholder="Filtrar por ID del Producto" [(ngModel)]="filtroIdProducto"  (input)="aplicarFiltrosId()">
      </div>
      <div class="col-md-4">
        <label for="basic-url">Id del Proveedor</label> 
        <input type="text" class="form-control" placeholder="Filtrar por Proveedor" [(ngModel)]="filtroProveedor" (input)="aplicarFiltrosProveedor()">
      </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let producto of productosFiltrados | paginate: { itemsPerPage: 5, currentPage: paginaActual }">
        <div class="card h-100 shadow-sm">
          <img [src]="producto.urlfoto1" class="card-img-top" alt="{{ producto.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p><strong>Precio:</strong> {{ producto.precioUnitario | currency:'USD' }}</p>
          </div>
          <div>
            <button (click)="irAConsultarBodegas(producto)">Ver Localización</button>
              
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
  </div>
  </div>